@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&family=Noto+Naskh+Arabic:wght@400..700&family=Noto+Nastaliq+Urdu:wght@400..700&display=swap');

/* get font from local file */
@font-face {
    font-family: 'jameel nore';
    src: url('Jameel\ Noori\ Nastaleeq\ Regular.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Noto Nastaliq Urdu", serif; */
    font-family: "jameel nore";
    direction: rtl;
}

.arabic{
 font-family: "Noto Naskh Arabic", serif;
}